* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 30px;
  }

  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }

  .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }

  /* Nav */
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
  
  .main-nav .logo {
    width: 130px;
  }
  
  .main-nav ul {
    display: flex;
  }
  
  .main-nav ul li {
    padding: 0 10px;
  }
  
  .main-nav ul li a {
    padding-bottom: 2px;
  }
  
  .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
  }

  .main-nav .main-menu li {
    padding-right: 50px;
    font-size: 20px;
  }

  .home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .home-cards img {
    width: 100%;
    margin-bottom: 20px;
  }

  /* zoom nas imagens */
  .imagem {
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
  }

  .imagem:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
  }
  
  .home-cards h3 {
    margin-bottom: 5px;
  }
  
  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .home-cards a:hover i {
    margin-left: 10px;
  }

  .voltar {
    padding: 17px 30px;
    border-radius: 50px;
    border: 0;
    background-color: #B19CD9;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .voltar:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .voltar:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .voltar a {
    text-decoration: none;
    padding: 17px 30px;
   }

   .voltar a:hover {
    color: #fff;
   }

   .botao-voltar {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
   }